<!DOCTYPE html>
<html lang="fa">

<head>
    <link rel="stylesheet" href="/style.css">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <h1>پیکره سایت <a taget="_blank" href="//<%= domain %>">
            <%= domain %>
        </a></h1>
        <div></div>
    <div class="root en"></div>

    <script type="text/javascript" src="/jsonview.js"></script>
    <script type="text/javascript">
        const tree = jsonview.create(<%- json %>);
        jsonview.render(tree, document.querySelector('.root'));
        jsonview.expand(tree);
    </script>
</body>

</html>